mongodb/db
.env
docker-compose.yaml
*/__pycache__/*
*.pyc
*.log
backend/logs/*
backend/json
analysis/database.py
analysis/json/
analysis/json_tracker
analysis/json_market
analysis/json_test
analysis/json_old
analysis/benchmark_json
analysis/backup_analysis_json
analysis/Analysis2024/logs/
analysis/Analysis2023/logs/
analysis/complete_info/
analysis/Analysis2024/analysis_json/
analysis/Analysis2023/analysis_json/
analysis/Analysis2024/benchmark_json/
analysis/Analysis2024/order_book/
analysis/Analysis2024/riskmanagement_json/
analysis/Analysis2024/riskmanagement_backup/
analysis/Analysis2023/riskmanagement_backup/
analysis/Analysis2024/optimized_results_backup/
analysis/Analysis2023/optimized_results_backup/
analysis/Analysis2024/optimized_results/
analysis/Analysis2023/optimized_results/
analysis/Analysis2024/timeseries_json/
analysis/Analysis2023/timeseries_json/
analysis/.*
analysis/__*
analysis/old/
analysis/logs
#backend/test
tracker/logs
tracker/test
tracker/json
tracker/ssh/
# tracker/json
nginx/conf/default
tracker/json/most_traded_coins_sample.json
mongodb_analysis/
backend/riskmanagement/
backend/info
backend/user_configuration
backend/riskmanagement_json
restore_backup/.env
db_backup/*
docker-compose.yaml
