mongodb/db
.env
*/__pycache__/*
*.pyc
*.log
backend/logs/*
analysis/database.py
analysis/json/
analysis/json_test
analysis/json_old
analysis/benchmark_json
analysis/backup_analysis_json
analysis/analysis_json
analysis/timeseries_json
analysis/.*
analysis/__*
analysis/old/
#backend/test
tracker/logs
tracker/test
# tracker/json
!tracker/json/most_traded_coins_btc_eth.json
nginx/conf/default
tracker/json/most_traded_coins_sample.json
mongodb_backup/
backend/riskmanagement/
analysis/riskmanagement_backup/